[submodule "catkin_simple"]
	path = catkin_simple
	url = https://github.com/catkin/catkin_simple.git
[submodule "rotors_simulator"]
	path = rotors_simulator
	url = https://github.com/ethz-asl/rotors_simulator.git
[submodule "mav_comm"]
	path = mav_comm
	url = https://github.com/ethz-asl/mav_comm.git
[submodule "forest_gen"]
	path = forest_gen
	url = https://github.com/ethz-asl/forest_gen.git
[submodule "octomap_rviz_plugins"]
	path = octomap_rviz_plugins
	url = https://github.com/OctoMap/octomap_rviz_plugins.git
